<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.seyoung.happytoytv">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="true" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="HappyToyTv"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
            <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.PopupActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <activity
            android:name=".login.LoginActivity"
            tools:ignore="InnerclassSeparator">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.example.seyoung.happytoytv.broadcaster.BroadCasterActivity_"
            tools:ignore="InnerclassSeparator"
            />

        <activity
            android:name="com.example.seyoung.happytoytv.viewer.ViewerActivity_"
            tools:ignore="InnerclassSeparator"
            />

        <activity android:name="com.example.seyoung.happytoytv.video.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:theme="@style/PlayerTheme">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>

        <activity android:name=".ar.WikitudeAr" android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <activity android:name=".main.curlactivity" android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <activity
            android:name=".ethereum.WalletCreateActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <activity android:name=".main.CaptureActivityAnyOrientation"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".ethereum.WalletSendActivity"
            tools:ignore="InnerclassSeparator"/>

        <activity android:name=".ethereum.Etherwebview"
        tools:ignore="InnerclassSeparator"/>

        <activity android:name=".main.GroupCallActivity"
            tools:ignore="InnerclassSeparator"/>

        <activity android:name=".main.wait_facetime"
            tools:ignore="InnerclassSeparator"/>

        <service
            android:name="com.example.seyoung.happytoytv.main.MyService" tools:ignore="ExportedService,InnerclassSeparator"
            android:exported="true"
            android:permission="" />

    </application>

</manifest>